# Byte-compiled / optimized / DLL files
.mypy_cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
*.egg-info
*.egg
var/
.installed.cfg
/dist/
/doc/_build/
/doc/build/
*.pyc
debug.py
#*.proto
polypheny-avatica-tmp/

# core dumps
core.*

# Editor specific
.vscode

.DS_STORE

*_pb2_grpc.py
*_pb2.py
venv/

.idea

.coverage